html
	head
		title Test
		link(rel="stylesheet" type="text/css" href="/styles.css")
	body
		#bouncing
		#projectname guild tv
		#details
			p Name: 
				span= server.hostname
			p Ip: 
				span= server.address
			p Channel: 
				span= channel.id
			p Mode: 
				span= channel.format
			p Device: 
				span= channel.consumers